{% extends 'base.html' %}

{% block navigation_link %}
    <a href="{{ url_for('document.showBase') }}">Return to Main Page</a>
{% endblock %}

{% block header %}All Documents{% endblock %}

{% block content %}
    <h2>All Documents</h2>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Folder Flag</th>
                <th>Modified Date</th>
                <th>Document Node</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
                <tr>
                    <td>{{ document.title }}</td>
                    <td>{{ document.documentsummary }}</td>
                    <td>{{ "Folder" if document.folderflag else "File" }}</td>
                    <td>{{ document.modifieddate }}</td>
                    <td>{{ document.documentnode }}</td>
                    {% if document.folderflag %}
                        <td></td>
                    {% else %}
                        <td><a href="{{ url_for('document.downloadFile', document_node=document.documentnode) }}" download>{{ document.filename }}</a></td>
                    {% endif %}
                    <td><a href="{{ url_for('document.findOwnerDetailsById', owner_id=document.owner) }}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
