<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AdventureWorks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/product">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/create">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/read">Read</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/update">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/delete">Delete</a>
      </li>
    </ul>
  </div>
</nav>
