<!DOCTYPE html>
<html>
<head>
    <title>Hire Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hire.css') }}">
</head>
<body>
    <button class="previous-button" onclick="window.location.href='/'">Previous</button>
    <h1>Hire Form</h1>
    
    <form>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName"><br><br>

        <label for="middleName">Middle Name:</label>
        <input type="text" id="middleName" name="middleName"><br><br>
        
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"><br><br>
        
        <label for="jobTitle">Job Title:</label>
        <input type="text" id="jobTitle" name="jobTitle"><br><br>
        
        <button type="reset">Reset</button>
        <button type="submit">Save</button>
    </form>
</body>
</html>