<!DOCTYPE html>
<html>
<head>
    <title>Hire Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hire.css') }}">
</head>
<body>
    <button class="previous-button" onclick="window.location.href='/'">Previous</button>
    <h1>Hire Form</h1>
    
    <form>
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="firstname"><br><br>

        <label for="middlename">Middle name:</label>
        <input type="text" id="middlename" name="middlename"><br><br>
        
        <label for="lastname">Surname:</label>
        <input type="text" id="lastname" name="lastname"><br><br>
        
        <label for="jobtitle">Job Title:</label>
        <input type="text" id="jobtitle" name="jobtitle"><br><br>
        
        <button type="reset">Reset</button>
        <button type="button" onclick="hire()">Save</button>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='hire.js') }}"></script>
</body>
</html>