{% extends 'base.html' %}

{% block body %}
    
    <h1>Person Details</h1>

    <h4>Id: {{ personDetails.businessentityid }}</h4>
    <h4>First Name: {{ personDetails.firstname + " " + (personDetails.middlename or "") }}</h4>
    <h4>Last Name: {{ personDetails.lastname }}</h4>
    <h4>Email: {{personDetails.emailaddress}}</h4>
    <h4>Phone: {{personDetails.phonenumber}}</h4>
    <h4>Address: {{personDetails.address}}</h4>
    <h4>City: {{personDetails.city}}</h4>
    <h4>Postal code: {{personDetails.postalcode}}</h4>
    <h4>State: {{personDetails.state}}</h4>

    <a href="{{ url_for('person.updateDetailsById', id=personDetails.businessentityid) }}">Update Details</a>


{% endblock %}