{% extends 'base.html' %}

{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #007bff;
            margin-bottom: 20px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
        }

        .attribute-box {
            width: 25%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        a {
            color: #28a745;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Person Details</h1>

        <div class="attribute-box">
            <strong>Id:</strong>
            <p>{{ personDetails.businessentityid }}</p>
        </div>

        <div class="attribute-box">
            <strong>First Name:</strong>
            <p>{{ personDetails.firstname + " " + (personDetails.middlename or "") }}</p>
        </div>

        <div class="attribute-box">
            <strong>Last Name:</strong>
            <p>{{ personDetails.lastname }}</p>
        </div>

        <div class="attribute-box">
            <strong>Email:</strong>
            <p>{{ personDetails.emailaddress }}</p>
        </div>

        <div class="attribute-box">
            <strong>Phone:</strong>
            <p>{{ personDetails.phonenumber }}</p>
        </div>

        <div class="attribute-box">
            <strong>Address:</strong>
            <p>{{ personDetails.address }}</p>
        </div>

        <div class="attribute-box">
            <strong>City:</strong>
            <p>{{ personDetails.city }}</p>
        </div>

        <div class="attribute-box">
            <strong>Postal Code:</strong>
            <p>{{ personDetails.postalcode }}</p>
        </div>

        <div class="attribute-box">
            <strong>State:</strong>
            <p>{{ personDetails.state }}</p>
        </div>
    </div>

    <a href="{{ url_for('person.updateDetailsById', id=personDetails.businessentityid) }}">Update Details</a>
{% endblock %}
