{% extends 'base.html' %}

{% block body %}
    
    <h1>Person List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>See details</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.businessentityid }}</td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.lastname }}</td>
                    <td><a href="{{ url_for('person.findDetailsById', id=person.businessentityid) }}">See details</a></td>            {% endfor %}
    </table>

{% endblock %}