{% extends 'base.html' %}

{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .pagination {
            margin-top: 20px;
        }

        .current {
            font-weight: bold;
            color: #333;
        }
    </style>
{% endblock %}

{% block body %}
    
    <h1>Person List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>See details</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.businessentityid }}</td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.lastname }}</td>
                    <td><a href="{{ url_for('person.findDetailsById', id=person.businessentityid) }}">See details</a></td>            {% endfor %}
    </table>

    <div class="pagination" style="margin-top: 100px;">
        {# Pagination links #}
        {% for page_num in range(1, pagination.total_pages + 1) %}
            {% if page_num == pagination.page %}
                <span class="current">{{ page_num }}</span>
            {% else %}
                <a href="{{ url_for('person.findAllPaginated', page=page_num, per_page=pagination.per_page) }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}
    </div>
    
    
    
    
    
    

{% endblock %}