{% extends 'base.html' %}

{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .pagination {
            margin-top: 20px;
        }

        .current {
            font-weight: bold;
            color: #333;
        }

        .create-button {
            display: inline-block;
            padding: 10px 15px;
            background-color: #28a745;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }

        .create-button:hover {
            background-color: #218838;
        }

        .page-button {
            display: inline-block;
            padding: 10px 15px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
            margin-left: 10px;
        }

        .page-button:hover {
            background-color: #0056b3;
        }

        .current {
            background-color: #007bff;
            color: #fff;
            padding: 12px 16px; /* Adjusted padding for a larger size */
            margin: 0 4px;
            border: 1px solid #007bff;
            border-radius: 4px;
        }

        .disabled {
            pointer-events: none;
            color: #ddd;
            cursor: not-allowed;
            border: 1px solid #ddd;
        }
    </style>
{% endblock %}

{% block body %}
    
    <h1>Person List</h1>

    <a class="create-button" href="{{ url_for('person.create') }}">Create Person</a>


    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>See details</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.businessentityid }}</td>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.lastname }}</td>
                    <td><a href="{{ url_for('person.findDetailsById', id=person.businessentityid) }}">See details</a></td>            {% endfor %}
    </table>

    <div class="pagination">
        {# First page button #}
        {% set disable_first = pagination.page == 1 %}
        <a class="page-button {% if disable_first %}disabled{% endif %}" href="{{ url_for('person.findAllPaginated', page=1, per_page=pagination.per_page) }}">First Page</a>
    
        {# Previous page button #}
        {% set disable_previous = pagination.page == 1 %}
        <a class="page-button {% if disable_previous %}disabled{% endif %}" href="{{ url_for('person.findAllPaginated', page=pagination.page - 1, per_page=pagination.per_page) }}">Previous Page</a>
    
        {# Pagination links #}
        {% set total_buttons = 5 %}
        {% set middle_button = total_buttons // 2 %}
        {% set start_page = pagination.page - middle_button if pagination.page > middle_button else 1 %}
        {% set end_page = start_page + total_buttons - 1 %}
        {% if end_page > pagination.total_pages %}
            {% set end_page = pagination.total_pages %}
            {% set start_page = end_page - total_buttons + 1 if end_page - total_buttons + 1 > 0 else 1 %}
        {% endif %}
        {% for page_num in range(start_page, end_page + 1) %}
            {% if page_num == pagination.page %}
                <span class="current">{{ page_num }}</span>
            {% else %}
                <a class="page-button" href="{{ url_for('person.findAllPaginated', page=page_num, per_page=pagination.per_page) }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}
    
        {# Next page button #}
        {% set disable_next = pagination.page == pagination.total_pages %}
        <a class="page-button {% if disable_next %}disabled{% endif %}" href="{{ url_for('person.findAllPaginated', page=pagination.page + 1, per_page=pagination.per_page) }}">Next Page</a>
    
        {# Last page button #}
        {% set disable_last = pagination.page == pagination.total_pages %}
        <a class="page-button {% if disable_last %}disabled{% endif %}" href="{{ url_for('person.findAllPaginated', page=pagination.total_pages, per_page=pagination.per_page) }}">Last Page</a>
    
    </div>
{% endblock %}