{% extends 'base.html' %}

{% block style %}
  <style>
    #header {
      color: #007bff;
      margin-bottom: 50px;
      text-align: center;
    }

    body {
      font-family: 'Arial', sans-serif;
      margin: 20px;
    }

    h1 {
      color: #333;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
{% endblock %}

{% block body %}
  <h1 id="header">Update Person Details</h1>

  <form method="post">
    <div>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" value="{{ personDetails.firstname }}" required>
    </div>

    <div>
      <label for="middlename">Middle Name:</label>
      {% if personDetails.middlename is not none %}
        <input type="text" id="middlename" name="middlename" value="{{ personDetails.middlename }}">
      {% else %}
        <input type="text" id="middlename" name="middlename" value="">
      {% endif %}
    </div>

    <div>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" value="{{ personDetails.lastname }}" required>
    </div>

    <div>
      <label for="emailaddress">Email:</label>
      <input type="email" id="emailaddress" name="emailaddress" value="{{ personDetails.emailaddress }}" required>
    </div>

    <div>
      <label for="phonenumber">Phone:</label>
      <input type="tel" id="phonenumber" name="phonenumber" value="{{ personDetails.phonenumber }}" required>
    </div>

    <button type="submit">Update</button>
  </form>
{% endblock %}
