{% extends "base.html" %}


{% block title %}Products{% endblock %}

{% block content %}
<style>
    .compact-table {
        font-size: 0.8em; /* Smaller font size */
        white-space: nowrap; /* Prevent text wrapping */
    }
    .compact-table th,
    .compact-table td {
        padding: 0.4em; /* Reduced padding */
    }
    .table-responsive {
        overflow-x: auto; /* Horizontal scroll */
    }
    .wrap-text {
        white-space: normal;
        word-wrap: break-word;
        max-width: 120px; /* Adjust as needed */
    }
</style>
<script>
    // JavaScript function to handle sorting
    function sortBy(column) {
        var currentUrl = new URL(window.location);
        var currentOrder = currentUrl.searchParams.get("order");
        var currentColumn = currentUrl.searchParams.get("sort_by");
    
        // Toggle order if the same column is clicked, else default to ascending
        if (currentColumn === column) {
            currentOrder = currentOrder === "desc" ? "asc" : "desc";
        } else {
            currentOrder = "asc";
        }
    
        currentUrl.searchParams.set("sort_by", column);
        currentUrl.searchParams.set("order", currentOrder);
    
        window.location = currentUrl.href;
    }
</script>
<div class="table-responsive">
    <table class="table table-striped compact-table">
        <!-- Header Row -->
        <thead>
            <tr>
                <th># {{ '↓' if request.args.get('order') == 'desc' else '↑' }}</th>
                <th onclick="sortBy('productid')">Product ID</th>
                <th onclick="sortBy('name')">Name</th>
                <th onclick="sortBy('productnumber')">Product Number</th>
                <th onclick="sortBy('makeflag')">Make Flag</th>
                <th onclick="sortBy('finishedgoodsflag')">Finished Goods Flag</th>
                <th onclick="sortBy('color')">Color</th>
                <th onclick="sortBy('safetystocklevel')">Safety Stock Level</th>
                <th onclick="sortBy('reorderpoint')">Reorder Point</th>
                <th onclick="sortBy('standardcost')">Standard Cost</th>
                <th onclick="sortBy('listprice')">List Price</th>
                <th onclick="sortBy('size')">Size</th>
                <th onclick="sortBy('sizeunitmeasurecode')">Size Unit</th>
                <th onclick="sortBy('weightunitmeasurecode')">Weight Unit</th>
                <th onclick="sortBy('weight')">Weight</th>
                <th onclick="sortBy('daystomanufacture')">Days to Manufacture</th>
                <th onclick="sortBy('productline')">Product Line</th>
                <th onclick="sortBy('class_')">Class</th>
                <th onclick="sortBy('style')">Style</th>
                <th onclick="sortBy('productsubcategoryid')">Subcategory ID</th>
                <th onclick="sortBy('productmodelid')">Product Model ID</th>
                <th onclick="sortBy('sellstartdate')">Sell Start Date</th>
                <th onclick="sortBy('sellenddate')">Sell End Date</th>
                <th onclick="sortBy('discontinueddate')">Discontinued Date</th>
                <th onclick="sortBy('modifieddate')">Modified Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Product Rows -->
            {% for product in products %}
            <tr>
                <td>{{ (pagination.page - 1) * pagination.per_page + loop.index }}</td>
                <td>
                    <a href="{{ url_for('product.find_details_by_id', id=product.productid) }}">{{ product.productid }}</a>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.productnumber }}</td>
                <td>{{ 'Yes' if product.makeflag else 'No' }}</td>
                <td>{{ 'Yes' if product.finishedgoodsflag else 'No' }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.safetystocklevel }}</td>
                <td>{{ product.reorderpoint }}</td>
                <td>{{ product.standardcost }}</td>
                <td>{{ product.listprice }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.sizeunitmeasurecode }}</td>
                <td>{{ product.weightunitmeasurecode }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.daystomanufacture }}</td>
                <td>{{ product.productline }}</td>
                <td>{{ product.class_ }}</td>
                <td>{{ product.style }}</td>
                <td>{{ product.productsubcategoryid }}</td>
                <td>{{ product.productmodelid }}</td>
                <td>{{ product.sellstartdate.strftime('%Y-%m-%d') if product.sellstartdate }}</td>
                <td>{{ product.sellenddate.strftime('%Y-%m-%d') if product.sellenddate }}</td>
                <td>{{ product.discontinueddate.strftime('%Y-%m-%d') if product.discontinueddate }}</td>
                <td>{{ product.modifieddate.strftime('%Y-%m-%d %H:%M:%S') if product.modifieddate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Controls -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="pagination">
            <!-- Link to the first page -->
            <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('product.page', page=1)}}{% if request.query_string %}?{{ request.query_string.decode('utf-8') }}{% endif %}"><<</a>
            </li>
    
            <!-- Show '...' when there are skipped pages before the current range -->
            {% if pagination.page > 3 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
    
            <!-- Pagination Window -->
            {% set start_page = [pagination.page - 2, 1]|max %}
            {% set end_page = [start_page + 4, pagination.total_pages]|min %}
            {% for i in range(start_page, end_page + 1) %}
                <li class="page-item {% if i == pagination.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('product.page', page=i)}}{% if request.query_string %}?{{ request.query_string.decode('utf-8') }}{% endif %}">{{ i }}</a>
                </li>
            {% endfor %}
    
            <!-- Show '...' when there are skipped pages after the current range -->
            {% if pagination.page < pagination.total_pages - 2 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
    
            <!-- Link to the last page -->
            <li class="page-item {% if pagination.page == pagination.total_pages %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('product.page', page=pagination.total_pages)}}{% if request.query_string %}?{{ request.query_string.decode('utf-8') }}{% endif %}">>></a>
            </li>
        </ul>
    </nav>

</div>
{% endblock %}
